.article {
    border: 10px solid black;
    background-color: lightpink;
    margin: 40px;
    width: 500px;
    box-shadow: 10px 20px 5px grey;
}

.header {
    height: 500px;
    background-image: url('../images/forest.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    width: 550px;
    height: 300px;
    background-color: rgb(216, 216, 184);
    text-align: center;
    border: 1px solid rgb(143, 134, 134);
    border-radius: 15px;
    padding: 15px;
    margin-left: 108px;
    box-shadow: 6px 9px 45px 10px rgb(167, 161, 161);
}

.banner h2 {
    padding-top: 45px;
    width: 250px;
    height: 120px;
    border-radius: 60px;
    margin-left: 145px;
    background-image: url('../images/joy.PNG');
    background-repeat: no-repeat;
    background-size: cover;
 }

.banner h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(46, 44, 44);
}
.banner h1{
    font-family: 'Courier New', Courier, monospace;
}

.banner span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(61, 60, 60, 0.993);
}